@using Microsoft.EntityFrameworkCore
@using IPTV.data
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Popups
@using TooltipPosition = Syncfusion.Blazor.Popups.Position

@page "/VOD_Series"
@inject IDbContextFactory<IptvDataContext> IptvContextFactory;
<PageTitle>VOD Series Database</PageTitle>

<div class="label-value">Active portal: @ActivePortal</div>
<div class="label-value">Selected category: @selectedCroup</div>
<div class="label-value">Selected series: @selectedSeries</div>
<div class="label-value">Series count: @CategorySeries.Count</div>

<div />
<div class="divider35" />Mode:
<div class="divider15" />
<SfRadioButton @onchange="OnChangeCategoryMode" Label="Enabled categories" Name="options" Value="categories" @bind-Checked="editMode"></SfRadioButton>
<SfRadioButton @onchange="OnChangeCategoryMode" Label="Series in each category" Name="options" Value="series" @bind-Checked="editMode"></SfRadioButton>
<div class="divider15" />

@if (OurCategories is not null && OurCategories.Count > 0)
{
	<SfToast ID="toast_default" @ref="ToastObj" Title="Categories and Series" Timeout="5000" Icon=".e-toast-message">
		<ToastPosition X="@ToastPosition"></ToastPosition>
	</SfToast>
	<div class="pane1">
		<SfSplitter CssClass="out-splitter" Height="auto" Width="100%" SeparatorSize="4">
			<SplitterPanes>
				<SplitterPane Size="25%" Min="60px">
					<ContentTemplate>
						<div class='splitter-default-content' />
						<div class="col-lg-12 control-section">
							@*<div class="col-lg-12 control-section sb-property-border">*@
							<div>
								@*Initialize the Tooltip component*@
								<SfTooltip Position="Position.TopRight" Content="The series">
								</SfTooltip>
								<SfCheckBox Label="Only enabled categories" @bind-Checked="onlyshowselectedCategories" @onchange="onToggledEnabled"></SfCheckBox>
							</div>
							@*</div>*@
							<SfTextBox Placeholder='Filter categories' FloatLabelType='@FloatLabelType.Auto' Input="@CategoriesInputHandler"></SfTextBox>
							@if (editMode == "categories")
							{
								<div id="listbox-control">
									<SfListBox Value="@CategoryCBvalues" @ref="CategoryListBox" TValue="string[]" DataSource="@OurCategories" Height="825px" TItem="IPTV.data.SC_VOD_CAT_SERIES">
										<ListBoxSelectionSettings ShowCheckbox="true" ShowSelectAll="true"></ListBoxSelectionSettings>
										<ListBoxEvents TValue="string[]" ValueChange="OnchangeCategory" TItem="IPTV.data.SC_VOD_CAT_SERIES"></ListBoxEvents>
										<ListBoxFieldSettings Text="Name" Value="SC_ID" />
									</SfListBox>
								</div>
							}
							else
							{
								<div id="listbox-control">
									<SfListBox Value="@CategoryCBvalues" @ref="CategoryListBox" TValue="string[]" DataSource="@OurCategories" Height="825px" TItem="IPTV.data.SC_VOD_CAT_SERIES">
										<ListBoxSelectionSettings ShowCheckbox="false" ShowSelectAll="true"></ListBoxSelectionSettings>
										<ListBoxEvents TValue="string[]" ValueChange="OnchangeCategory" TItem="IPTV.data.SC_VOD_CAT_SERIES"></ListBoxEvents>
										<ListBoxFieldSettings Text="Name" Value="SC_ID" />
									</SfListBox>
								</div>
							}
						</div>
					</ContentTemplate>
				</SplitterPane>
				<SplitterPane Size="35%" Min="60px">
					<ContentTemplate>
						<div class='splitter-default-content' />
						<div class="col-lg-12 control-section">
							<div class="col-lg-8 control-section sb-property-border">
								<div class="tooltip_style">
									@*Initialize the Tooltip component*@
									<SfTooltip Position="Position.TopRight" Content="tooltip">
										Series for the selected category
									</SfTooltip>
								</div>
							</div>
							<SfTextBox Placeholder='Filter series' FloatLabelType='@FloatLabelType.Auto' Input="@CategoriesSeriesInputHandler"></SfTextBox>
							<div id="listbox-control">
								<SfListBox CssClass="e-horizontal-listbox" @ref="ChanListBox" TValue="string[]" DataSource="@CategorySeries" Height="825px" TItem="IPTV.data.SC_VOD_SERIES">
									<ListBoxSelectionSettings ShowCheckbox="false" ShowSelectAll="true"></ListBoxSelectionSettings>
									<ListBoxEvents TValue="string[]" TItem="IPTV.data.SC_VOD_SERIES"></ListBoxEvents>
									<ListBoxFieldSettings Text="name" Value="ID" />
								</SfListBox>
							</div>
						</div>
					</ContentTemplate>
				</SplitterPane>
			</SplitterPanes>
		</SfSplitter>
	</div>
}

<style>
	#listbox-control {
		width: 400px;
		margin: auto;
	}

	.e-horizontal-listbox .e-list-parent .e-list-item {
		width: max-content;
		line-height: 10px;
		height: 12px;
	}

	.e-tooltip-wrap.e-popup {
		background-color: white;
		border: 2px solid #000;
	}

	.e-tooltip-wrap .e-tip-content {
		color: darkblue;
		font-size: 16px
	}

	.divider15 {
		width: 5px;
		height: auto;
		display: inline-block;
	}

	.divider35 {
		width: 55px;
		height: auto;
		display: inline-block;
	}

	.label-value {
		display: inline-block;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.label-group {
		display: inline-block;
		background: antiquewhite;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

</style>

